# Auto-detect text files and perform LF/CRLF normalization
* text=auto

# Custom mappings for source files to ensure consistency
*.ts text
*.tsx text
*.js text
*.json text
*.md text
*.css text
infra/.terraform/providers/**/terraform-provider-azurerm_*.exe filter=lfs diff=lfs merge=lfs -text
