name: Trigger auto deployment for ca-secular-hub-api-dev

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ dev ]
    paths:
    - '**'
    - '.github/workflows/ca-secular-hub-api-dev-AutoDeployTrigger-2289b319-b0cb-4d31-9593-9d1d45df692c.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CASECULARHUBAPIDEV_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CASECULARHUBAPIDEV_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CASECULARHUBAPIDEV_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrsecularhub.azurecr.io
          registryUsername: ${{ secrets.CASECULARHUBAPIDEV_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CASECULARHUBAPIDEV_REGISTRY_PASSWORD }}
          containerAppName: ca-secular-hub-api-dev
          resourceGroup: rg-secular-hub-dev
          imageToBuild: acrsecularhub.azurecr.io/ca-secular-hub-api-dev:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


