name: Terraform

on:
  push:
    branches: [dev]
    paths:
      - 'terraform/**'
      - '.github/workflows/terraform.yml'

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: "1.5.7"
  WORKING_DIR: terraform

jobs:
  deploy:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # DEV Environment
      - name: Deploy DEV
        run: |
          terraform init \
            -backend-config="resource_group_name=rg-secular-hub-tfstate" \
            -backend-config="storage_account_name=secularhubtfst20260108" \
            -backend-config="container_name=tfstate" \
            -backend-config="key=secular-hub/dev/infra.tfstate" \
            -reconfigure
          
          terraform apply -auto-approve \
            -var-file=../envs/dev.tfvars \
            -var="image_tag=${{ github.sha }}"
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_USE_OIDC: true

      # UAT Environment
      - name: Deploy UAT
        run: |
          terraform init \
            -backend-config="resource_group_name=rg-secular-hub-tfstate" \
            -backend-config="storage_account_name=secularhubtfst20260108" \
            -backend-config="container_name=tfstate" \
            -backend-config="key=secular-hub/uat/infra.tfstate" \
            -reconfigure
          
          terraform apply -auto-approve \
            -var-file=../envs/uat.tfvars \
            -var="image_tag=${{ github.sha }}"
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_USE_OIDC: true
